.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    height: 150px;
 
}

h1{
    font-family: "Boldonse", system-ui;
    font-size: 36px;
    color: rgb(163, 22, 22);
    
}

