.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(214, 116, 185);
    height: 150px;
 
}

h1{
    font-family: "Boldonse", system-ui;
    font-size: 36px;
    color: rgb(139, 55, 114);
    
}

